.notification {
  width: 917px;
  align-items: center;
  justify-content: center;
.avatar{
  align-items: flex-end;
  justify-content: center;
  display: flex;
  margin-right: 300px;
  padding-bottom: 30px;
  .avatar-text{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    margin-left: 40px;
    h1{
      font-family: Poppins sans-serif;
      font-size: 24px;
      letter-spacing: -0.8251806497573853px;
      color: #181818;
    }
    h3{
      font-family: Poppins sans-serif;
      font-size: 20px;
      letter-spacing: -0.8251806497573853px;
      color: #868889;
    }
  }
}

  .tabs {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    h4 {
      font-family: Poppins sans-serif;
      font-size: 20px;
      color: #181818;
    }
  }
  .tabs  a:hover{
    border-bottom: 10px solid hsla(89, 98%, 49%, 0.86);
    transition: 1s;
    border-radius:5px ;
  }


  .profiles {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 491px;

    .change-profile {
      position: relative;

      svg {
        position: absolute;
        margin: 20px 15px 10px 45px;
        }

      input[type="text"] {
        width: 489px;
        height: 61.18356704711914px;
        border-radius: 11px;
        border: 2px solid #868889;
        margin-left: 40px;
        padding-left: 50px;
      }

      input[type="number"] {
        width: 489px;
        height: 61.18356704711914px;
        border-radius: 11px;
        border: 2px solid #868889;
        margin-left: 40px;
        padding-left: 50px;
      }

      input::placeholder {
        font-family: Poppins sans-serif;
        font-size: 15px;
        letter-spacing: 0.03em;
        color: #868889;
      }
    }

    .profile-inputs {
      margin-left: 32px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .street {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        span {
          position: absolute;
          margin-left: 15px;
        }

        input {
          width: 141px;
          height: 60px;
          border-radius: 10px;
          border: 1.5px solid #868889;
          margin: 10px 5px;
        }

        input[type="text"] {
          padding-left: 30px;
        }

        input::placeholder {
          text-align: center;
          margin-right: 20px;
        }
      }


      button {
        width: 387px;
        height: 62px;
        background: linear-gradient(to right, #28B446 0%, #02FF70 100%);
        border-radius: 10px;

        h5 {
          text-align: center;
          font-family: Poppins sans-serif;
          font-size: 15px;
          color: white;
        }
      }
    }
  }
}
