.new-page {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  h5 {
    font-family: Poppins sans-serif;
    font-size: 20px;
    color: #181818;
  }
  p {
    align-items: center;
    display: flex;

    .input-icons {
      width: 38px;
      height: 33px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    h2 {
      font-family: Poppins sans-serif;
      font-size: 18px;
      letter-spacing: 0.03em;
      color: #868889;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 10px;
    }
  }
}